html,
body {
  margin: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.05);
}

#app {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  position: relative;
  margin: auto;
  margin-top: 150px;
  background-color: #474747;
  overflow: hidden;
}
