html,
body {
  margin: 0;
}
body {
  height: 100vh;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app > .renderer-container {
  display: flex;
  justify-content: center;

  margin: auto;
  transition: width 0.3s, height 0.3s;

  > * {
    margin-right: 20px;
  }
}
